@tailwind base;
@tailwind components;
@tailwind utilities;
 
html,
body,
:root{
  height: 100%;
  scrollbar-width: thin;
}

/* channel */
.lucide-x {
  display: none
}
.content {
	width: 50vmin;
	height: 15vmin;
	background: linear-gradient(90deg, #fff0 19.25vmin, #333 0 19.75vmin, #fff0 0 30.25vmin, #333 0 30.75vmin, #fff0 0 100%), linear-gradient(90deg, #333 8.75vmin, #fff0 0 calc(100% - 8.75vmin), #333 0 100%), linear-gradient(0deg, #333 0 5.75vmin, #fff0 0 9.4vmin, #333 0 100%), linear-gradient(90deg, #fff0 0 1vmin, #0004 0 calc(100% - 1vmin), #fff0 0 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 0vmin;
	transform: rotateX(-10deg) rotateY(0deg) scale3d(1.5, 1.5, 1.5);
}

.content:before {
	content: "";
	position: absolute;
	width: calc(100% - 2vmin);
	height: calc(100% - 2vmin);
	background: #00000040;
	transform: translateZ(-1px);
	filter: blur(0.5vmin);
}
.cuboid {
	--height: 3;
	--width: 10;
	--depth: 10;
	--hue: 220;
	--sat: 20%;
	height: calc(var(--height) * 1vmin);
	width: calc(var(--width) * 1vmin);
	position: absolute;
	transition: all 0.1s ease 0s;
	cursor: pointer;
	margin-left: -22vmin;
	background: hsl(var(--hue), var(--sat), 60%);
}

.cuboid .side {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100%;
	width: 100%;
	border-radius: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2vmin;
	text-shadow: 1px 0px 1px #fff4, 0px 0px 1px #000c;
	color: #5a6c91;
}

.serverscroll {
  scrollbar-width: none;
}
/* Custom hover */
.manage-member {
  color: chocolate;
}

.dark-manage-member {
  color: white;
  background-color: blue;
}
/* Clerk */
.cl-formButtonPrimary {
  font-size: 28px;
  text-transform: none;
  color: chocolate;
  text-decoration-color: aquamarine;
  background-color: white;
}
.cl-formButtonPrimary:hover {
  font-size: 28px;
  text-transform: none;
  color: white;
  text-decoration-color: chocolate;
  background-color: chocolate;
}
.cl-dividerText{
  font-size: 28px;
  text-transform: none;
  color: chocolate;
  text-decoration-color: aquamarine;
  background-color: white;
}
.cl-internal-b3fm6y{
  background-color: chocolate;
}
.cl-internal-1bnsg8s{
  background-color: chocolate;
}
.cl-footerActionText{
  text-transform: none;
  color: chocolate;
  text-decoration-color: aquamarine;
  background-color: white;

}

.cl-socialButtonsIconButton
{
  font-size: 28px;
  text-transform: none;
  background-color: white;
}


.cl-internal-1mc71o6
{
  display: block;
  width: 100%;
}

.cl-headerTitle
{
  font-size: 28px;
  text-transform: none;
  color: chocolate;
  text-decoration-color: aquamarine;
  background-color: white;
}

.cl-formFieldLabel
{
  color: chocolate;
}

.cl-headerSubtitle
{
  font-size: 18px;
  text-transform: none;
  color: chocolate;
  text-decoration-color: aquamarine;
  background-color: white;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}